<div id="blue">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
			<h4>THE PERSONAL BREWERY</h4>
			<p>DISCOVER YOUR INNER CRAFTSMAN</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!--  bluewrap -->


<div class="container desc">
	<div class="row">
		<br><br>
		<div class="col-lg-6 centered">
			<img src="assets/brewery/pic0.png" style="border-radius:10px;"  alt="">
		</div><!-- col-lg-6 -->
		<div class="col-lg-6">
			<h4>SPECIFICATIONS</h4>
			<p>The Personal Brewery is designed to fit on your kitchen countertop and plug into a typical 15 amp home socket.</p>
			<p>
				<i class="fa fa-circle-o"></i> Yield: 2 gallons of beer (~18 bottles of beer)<br/>
				<i class="fa fa-circle-o"></i> Size: 17” X 17” X 22”<br/>
				<i class="fa fa-circle-o"></i> Power: 1,575 Watts<br/>
				<i class="fa fa-circle-o"></i> Materials: 304 stainless steel, silicone, acetol copolymer, high temp ryton, Teflon, nickel-chromium alloy<br/>
				<i class="fa fa-circle-o"></i> Microcontroller: Netdruino Plus 2<br/>
			</p>
		</div>
	</div><!-- row -->
	
	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 centered">
			<img src="assets/brewery/pic1.png" style="border-radius:10px;" alt="">
		</div><!-- col-lg-6 -->
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 centered">
			<img src="assets/brewery/pic2.png" style="border-radius:10px;" alt="">
		</div><!-- col-lg-6 -->
	</div><!-- row -->
	
	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 centered">
			<img src="assets/brewery/pic3.png" style="border-radius:10px;" alt="">
		</div><!-- col-lg-6 -->
	</div><!-- row -->
	
	<br><br>
</div><!-- container -->