<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
			<h1>It Doesn't Take a <b>Brewmaster</b> <br/> To Brew Beer</h1>

			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- headerwrap -->

<div id="lg">
	<div class="container">
		<div class="row centered">
			<h2>SOME SEE BREWING AS A COMPLEX AND TEDIOUS PROCESS</h2>
			<div class="col-lg-10 col-lg-offset-1" style="padding-top:20px;">
				<img class="img-responsive" src="assets/beer_brewing_process.png" alt="">
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- dg -->



<!-- PORTFOLIO SECTION -->
<div id="dg">
	<h2>BUT IT DOESN'T HAVE TO BE</h2>
	<div class="container w">
		
		<div class="row centered">
			
			<div class="col-lg-3">
				<i class="fa fa-cogs"></i>
				<h4>AUTOMATION</h4>
				<p>Let our device do the 'dirty work' of scientific and engineering analysis required by the home brewing process.</p>
			</div><!-- col-lg-4 -->
	
			<div class="col-lg-3">
				<i class="fa fa-gavel"></i>
				<h4>CUSTOMIZATION</h4>
				<p>Use the ingredients you want, adjust the timing for each step of your recipe, and much much more.</p>
			</div><!-- col-lg-4 -->
	
			<div class="col-lg-3">
				<i class="fa fa-bar-chart-o"></i>
				<h4>ANALYTICS</h4>
				<p>Track the progress of your batch, manage recipes and ingredients, see information that matters.</p>
			</div><!-- col-lg-4 -->
			<div class="col-lg-3">
				<i class="fa fa-heart"></i>
				<h4>SOCIAL MEDIA</h4>
				<p>Discuss and share your recipes with others. Learn new brewing tips and tricks.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>

	</div><!-- container -->
</div><!-- DG -->

<div id="r">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE ARE ENGINEERS. WE LOVE BEER. WE CAN DO IT. WE ARE DOING IT.</h4>
				<p>We believe everyone should be able to brew and enjoy their own beer. Our mission is to create an affordable brewing device. We hope to inspire and enable users from any culture and country to craft, brew, and share their recipes with the rest of the world. </p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><! -- r wrap -->
