<!-- FOOTER -->
<div id="r">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE ARE ENGINEERS. WE LOVE BEER. WE CAN DO IT. WE ARE DOING IT.</h4>
				<p>We believe everyone should be able to brew and enjoy their own beer. Our mission is to create an affordable brewing device. We hope to inspire and enable users from any culture and country to craft, brew, and share their recipes with the rest of the world. </p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><! -- r wrap -->

<div id="f">
	<div class="container">
		<div class="row centered">
			<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
			<p class="centered" style="color: white;">Theme by <a href="http://blacktie.co" style="color: #bdbdbd;">BlackTie.co</a>.</p>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- Footer -->